node_modules
npm-debug.log
.git
.gitignore
.env*
README.md
*.md
.vscode
.vercel
.expo
app
components
config
constants
context
database
hooks
lib
scripts
utils
assets
Qmobile
package.json
package-lock.json
tsconfig.json
eslint.config.js